.intro-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 100px;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 80%;

  div {
    font-size: 24px;
    margin-top: 20px;
    line-height: 1.5;
  }
}
