.navbar-about {
  // background-image: linear-gradient(138deg, #2959db, #2b3754);
  padding-bottom: 50px;
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-component {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
