.project {
  display: flex;
  width: 50%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;


  .description {
    opacity: 0;

    .skills-list {
      display: flex;

      .skills {
        border: 1px white solid;
        border-radius: 5px;
      }
    }
  }
}

.project:hover .description {
  opacity: 1;
  transition: opacity 1.0s linear;
}
