@import '_app.scss';
@import '_navbar';
@import '_about-editor';
@import '_project';
@import '_about';
@import '_contact';

body {
  margin: 0;
  padding: 0;
  font-family: 'Opens Sans', sans-serif;
}

@media screen and (max-width: 450px) {
  .navbar-container {
    width: 100%;
  }

  .intro {
    width: 90%;
  }

  .editor-container {
    width: 95%;
  }

  .tab {
    width: 30%;
    font-size: 14px;
  }

  .editor-window {
    font-size: 16px;

    .small-window {
      display: none !important;
    }
  }

  .project {
    width: 100%;
    height: 350px;
  }

  .screenshot-container {
    height: 350px;

    .screenshot {
      height: 250px;
    }
  }

  .description-container {
    width: 100%;

    .description {
      width: 90%;
      font-size: 14px;
      line-height: 1.5;

      .skills-list {

        .skills {
          margin-right: 10px;
        }
      }
    }
  }


  //
  // .screenshot-container {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 500px;
  //   // outline: 1px solid black;
  // }

}
