@import '_app.scss';
@import '_navbar';
@import '_about-editor';
@import '_project';
@import '_about';
@import '_contact';

body {
  margin: 0;
  padding: 0;
  font-family: 'Opens Sans', sans-serif;
}

@media screen and (max-width: 450px) {
  .navbar-container {
    width: 100%;
  }

  .intro-container {
    padding-top: 100px;

    .intro {
      width: 90%;
    }
  }

  .editor-container {
    width: 95%;

    .tab {
      width: 30%;
      font-size: 14px;
    }

    .editor-window {
      font-size: 16px;

      .small-window {
        display: none !important;
      }
    }
  }

  .project {
    width: 100%;
    height: 350px;
  }

  .screenshot-container {
    height: 350px;

    .screenshot {
      height: 275px;
    }

    .stock-market {
      width: 90%;
    }

    .calendar {
      width: 90%;
    }

    .calculator {
      width: 45%;
    }

    .portfolio {
      width: 90%;
    }
  }

  .description-container {
    width: 100%;

    .description {
      width: 90%;
      font-size: 16px;
      line-height: 1.5;

      .skills-list {

        .skills {
          margin-right: 10px;
          font-size: 14px;
        }
      }

      .links-container {
        justify-content: space-between;
      }
    }
  }

  .contact-container {

    .contact {
      width: 90%;

      .contact-links {

      }
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 900px) {
  .navbar-container {
    width: 100%;
  }

  .intro-container {
    padding-top: 100px;

    .intro {
      width: 90%;
    }
  }

  .editor-container {
    width: 90%;

    .tab {
      width: 30%;
      font-size: 14px;
    }

    .editor-window {
      font-size: 16px;

      .large-window {
        display: none;
      }
      .education-long {
        display: none;
      }
    }
  }

  .project {
    width: 50%;
    height: 350px;
  }

  .screenshot-container {
    height: 350px;

    .screenshot {
      height: 275px;
    }

    .stock-market {
      width: 90%;
    }

    .calendar {
      width: 90%;
    }

    .calculator {
      width: 45%;
    }

    .portfolio {
      width: 90%;
    }
  }

  .description-container {

    .description {
      width: 45%;
      font-size: 16px;
      line-height: 1.5;

      .skills-list {

        .skills {
          margin-right: 10px;
          font-size: 14px;
        }
      }

      .links-container {
        justify-content: space-between;
      }
    }
  }

  .contact-container {

    .contact {
      width: 90%;

      .contact-links {
        width: 40%;
      }
    }
  }
}
