.contact-container {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  // width: 80%;

  .contact-links {
    display: flex;
    // width: 20%;
    justify-content: space-between;
    margin-top: 20px;

    div:hover {
      color: #FEBE01;
      transition: color .2s ease;
    }
  }
}
